/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
}

html {
  --backgroundColor: #05101c;
}
body {
  background-color: var(--backgroundColor);
}

.wave {
  background-image: url(../../public/wave.svg);
  height: 20px;
}

p {
  color: white;
}
h2 {
  color: #70fdda;
}
