/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
}

html {
  --backgroundColor: #05101c;
  scroll-behavior: smooth;
}
body {
  background-color: var(--backgroundColor);
  font-family: sans-serif;
  color: white;
  padding: 0px 10px;
}

.wave {
  background-image: url(../../public/wave.svg);
  height: 20px;
}

h2 {
  color: #70fdda;
  margin: 20px 0;
}
