---

---

<div class="logo">
  <a href="index.html">
    <img src="../../public/logoImg.svg" alt="Logo" />
  </a>
</div>
<div class="logo">
  <a href="index.html">
    <img src="../../public/logoText.svg" alt="Logo" />
  </a>
</div>
<nav>
  <ul class="menu">
    <li><a href="index.html">Forside</a></li>
    <li><a href="program.html">Program</a></li>
    <li><a href="index.html">Om Kulturnatten</a></li>
    <li><a href="index.html">Arrangører</a></li>
  </ul>
  <div class="burger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</nav>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .logo img {
    height: 20px;
  }
  nav {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu li {
    margin-right: 20px;
  }

  .menu li:last-child {
    margin-right: 0;
  }

  .menu a {
    display: block;
    color: #e8f3ff;
    text-align: right;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: end;
    text-decoration: none;
  }

  .menu a:hover {
    color: #70fdda;
  }

  .burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .burger .line {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    margin-bottom: 5px;
    transition: 0.2s linear;
  }
  .burger {
    display: none;
  }
  @media screen and (max-width: 800px) {
    .menu {
      display: none;
    }
    .burger {
      display: block;
      z-index: 2;
    }
    .burger.active .line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
      transition: 0.2s linear;
    }

    .burger.active .line:nth-child(2) {
      opacity: 0;
      transition: 0.15s linear;
    }

    .burger.active .line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
      transition: 0.2s linear;
    }

    nav.active .menu {
      display: block;
      background-color: #ffffff;
      position: absolute;
      top: 0%;
      left: 0;
      width: 100%;
      height: 457px;
      padding-top: 70px;
      z-index: 1;
      background: radial-gradient(
        149.86% 77.27% at 79.23% 10.18%,
        #d96648 26.69%,
        rgba(203, 85, 126, 0.77) 60.5%,
        rgba(178, 56, 219, 0) 100%
      );
    }

    nav.active .menu li {
      margin: 10px 20px;
    }

    nav.active .menu a {
      font-size: 24px;
    }
  }
</style>
<script>
  const burger = document.querySelector(".burger");
  const nav = document.querySelector("nav");
  const menu = document.querySelector(".menu");

  burger.addEventListener("click", burgerClick);
  function burgerClick() {
    burger.classList.toggle("active");
    nav.classList.toggle("active");
  }
  menu.addEventListener("click", menuClick);
  function menuClick() {
    burger.classList.remove("active");
    nav.classList.remove("active");
  }
</script>
